.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: red;

}

* {
    margin: 0;
    padding: 0;
    list-style: none;

}

body {
    text-align: center;
    background-color: #f4f4f4;

    color: #666;

    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    ;


}

div,
ul,
li {
    box-sizing: border-box;
}

input,
button {
    border: none;
    outline: none;
}

.clearfix::after {
    content: "";
    display: table;
    display: block;
    clear: both;
}

a {
    color: #666;
    text-decoration: none;
}

img {
    border: none;
}

.header {


    width: 100%;



}

/* 顶部导航部分 */
.top {
    line-height: 30px;
    border: 1px solid #ddd;
    background-color: #e3e4e5;
    width: 100%;
    height: 30px;
    font-size: 12px;


}

.wrap {
    width: 1190px;
    margin: 0 auto;

}


.top a {
    color: #999;
}

.top .top-left {
    float: left;
}

.top .top-left .left-div {
    width: 58px;
    height: 30px;
    margin-left: 5px;
    line-height: 30px;

}

.top .top-left .left-div .iconfont {
    color: red;
    margin-right: 4px;
    font-size: 14px;

}



.top .top-right {
    float: right;
    line-height: 28px;

}


.top .top-right .right-div {
    width: 72px;
    height: 16px;
}

.top li span {

    margin: 0 12px 5px 12px;

    color: #ccc;
}

.top .top-right li {
    position: relative;
    float: left;
    line-height: 28px;
    height: 30px;
    margin-right: 0 3.5px;
    position: relative;

}

.top .top-right .li-red {
    color: red;
}

.top a:hover {
    color: red;
}

.qr {
    position: absolute;
    width: 74px;
    height: 74px;
    box-shadow: 0 1px 5px #c9c4c4;
    background-color: #fff;
    top: 35px;
    left: -10px;
}

.qr img {
    width: 66px;
    height: 66px;
    margin: 5px auto;
    background-color: #f6f6f6;

}

.hot a:hover {
    color: #E1251B;
}

.navitem li a:hover {
    color: #E1251B;
}


/*header部门---------------------------------------*/

/* header部分 */
.nav {
    width: 100%;
    height: 140px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

}

.nav>.wrap {
    position: relative;
    z-index: 11;
}

.nav .logo {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 10px;
    width: 190px;
    height: 120px;

}

.logo img {
    width: 190px;
    height: 120px;
}

.search {
    width: 100%;
    height: 60px;


}

.search-content {
    position: relative;
    z-index: 1;
    height: 60px;
    margin: auto;
    width: 1190px;


}

.search-logo {
    display: inline;
    position: absolute;
    width: 125px;
    height: 40px;
    background-image: url(images/sprite.png);
    background-position: 0 -120px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    text-indent: -999px;

}


.search-bar {
    position: absolute;
    left: 260px;
    top: 25px;
    width: 546px;
    height: 32px;
    border: 2px solid #e2231a;
    background: #fff;
}



.search-bar .keyword {
    position: absolute;
    left: 0;
    padding: 2px 44px 2px 17px;
    width: 425px;
    height: 26px;
    border: 1px solid transparent;

    font-size: 12px;
    box-sizing: border-box;


}


.search-bar span {

    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 28px;
    right: 0;
    font-size: 16px;
    left: 186px;
    color: #ccc;


}

.search-bar button {
    position: absolute;
    right: 0;
    width: 58px;
    height: 30px;
    line-height: 32px;
    font-size: 26px;
    border: none;
    background-color: #e1251b;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    transition: background .2s ease;
}

.shop {

    position: absolute;
    right: 230px;
    top: 25px;
    z-index: 21;

    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}

.shop-icon {
    width: 130px;
    height: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    border-color: #eee;
}

.shop-icon i {
    margin-right: 13px;
    font-size: 16px;
}

.shop-icon a {
    font-size: 12px;
}

.hot {

    position: absolute;
    left: 260px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}

.hot a {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
}

.navitem {
    position: absolute;
    float: left;
    left: 203px;
    top: 80px;
    bottom: 0;
    height: 40px;
    padding-top: 20px;
    font-size: 15px;

}

.navitem li {
    width: 82px;
    height: 40px;
    float: left;
    margin-left: 1px;
}

.navitem li a {
    color: #333;
}

/* search-helper模糊查询 */
.search-helper {

    display: none;
    position: absolute;
    top: 30px;
    width: 488px;
    /* height: 200px; */
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .2);

}

.search-helper p {
    font-size: 14px;
    height: 24px;
    padding: 1px 6px;
    line-height: 24px;
    cursor: pointer;
    color: #666;
}

.search-fix {
    height: 50px;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

@keyframes seachTop {
    0% {
        top: -50px;
    }

    100% {
        top: 0px;
    }
}