/* header部分 */
.nav {
    width: 100%;
    height: 140px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    color: #666;
}

.nav>.wrap {
    position: relative;
}

.nav .wrap .logo {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 10px;
    width: 190px;
    height: 120px;

}

.logo img {
    width: 190px;
    height: 120px;
}

.search {
    width: 100%;
    height: 60px;


}

.search-content {
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 1;

}

.search-logo {
    position: absolute;
    width: 125px;
    height: 40px;
    top: 4px;
    left: 0;
    display: none;

}


.search-bar {
    position: absolute;
    left: 260px;
    top: 25px;
    width: 546px;
    height: 32px;
    border: 2px solid #e2231a;
    background: #fff;
}



.search-bar .keyword {
    position: absolute;
    left: 0;
    padding: 2px 44px 2px 17px;
    width: 425px;
    height: 26px;
    border: 1px solid transparent;

    font-size: 12px;
    box-sizing: border-box;


}


.search-bar span {

    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 28px;
    right: 0;
    font-size: 16px;
    left: 186px;
    color: #ccc;


}

.search-bar button {
    position: absolute;
    right: 0;
    width: 58px;
    height: 30px;
    line-height: 32px;
    font-size: 26px;
    border: none;
    background-color: #e1251b;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    transition: background .2s ease;
}

.shop {

    position: absolute;
    right: 230px;
    top: 25px;
    z-index: 21;

    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}

.shop-icon {
    width: 130px;
    height: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    border-color: #eee;
}

.shop-icon i {
    margin-right: 13px;
    font-size: 16px;
}

.shop-icon a {
    font-size: 12px;
}

.hot {

    position: absolute;
    left: 260px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}

.hot a {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
}

.navitem {
    position: absolute;
    float: left;
    left: 203px;
    top: 80px;
    bottom: 0;
    height: 40px;
    padding-top: 20px;
    font-size: 15px;

}

.navitem li {
    width: 82px;
    height: 40px;
    float: left;
    margin-left: 1px;
}

.navitem li a {
    color: #333;
}

/* search-helper模糊查询 */
.search-helper {

    display: none;
    position: absolute;
    top: 30px;
    width: 488px;
    /* height: 200px; */
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .2);

}

.search-helper p {
    font-size: 14px;
    height: 24px;
    padding: 1px 6px;
    line-height: 24px;
    cursor: pointer;
    color: #666;
}